[Unit]
Description=workR service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=[path to the dotnet bin here, ie: /opt/dotnet/dotnet] "[path to your workR.dll]"
Restart=always
Type=simple
User=[your user, or user you want to use to run this daemon here]

[Install]
WantedBy=multi-user.target
